body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

span{
    padding-left: 80rem;
    color: red;
}

